$color-highlight: #f4011f;
$color-text-primary: #2c2728;
$color-text-secondary: #b2b2b2;

$color-link-normal: #008AFF;
$color-link-interact: #0085A1;
$color-quote: #808080;
$color-white: #FFFFFF;
$color-shadow: #020202;

$color-background-primary: #FFFFFF;
$color-background-secondary: #E9E9E9;
$color-background-tertiary: #5b5b5b;
$color-border-primary: #E9E9E9;
$color-border-secondary: #b2b2b2;