{% if page.title %}
  <header class="header-section {% if page.bigimg %}has-img{% endif %}">
	<div class="intro-header no-img">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="page-heading">
			  <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
				<span class="page-subheading">{% include breadcrumb.html %}</span>
				<hr class="small">
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </header>
{% else %}
  <div class="intro-header"></div>
{% endif %}