---
layout: base
---

<div class="container container-no-left">
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 affix side-menu-wrapper" id="side-menu-col">
            {% include _tech/side-menu.html %}
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xl-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 content-side-border">
            {% include _tech/header.html %}

            <div class="container container-content" role="main">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        {% include /_tech/anchor_headings.html html=content h_min=2 h_max=3 anchorBody='#' anchorClass='anchor' beforeHeading=true %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
