{% capture current_lang %}{% include _tech/current-lang.html %}{% endcapture %}
{% assign current_lang = current_lang | strip_newlines %}

{% capture url_parts %} {{ page.url | remove: "/index" | replace:'/'," "}} {% endcapture %}
{% capture num_parts %} {{ url_parts | number_of_words  | minus: 1}} {% endcapture %}
{% assign previous="" %}

{% assign collection = site.collections | where:"label",current_lang %}

{% if num_parts contains "1" or num_parts contains "0" %}
  <a href="/">Home</a> &#187; {{page.title}}
{% else %}
  <a href="/">Home</a> &#187;
{% for unused in site.breadcrumb_list limit:num_parts %}
  {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
  {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

  {% if first_word contains current_lang %}{% else %}
    {% assign filtered_docs = collection[0].docs | where_exp:"doc", "doc.childidentifier contains first_word" %}
    {% for doc in filtered_docs %}
      <a href="{{previous}}">{{ doc.title }}</a> &#187;
    {% endfor %}
  {% endif %}

  {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
{% endfor %}{{page.title}}
{% endif %}