<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  {% include _tech/gtag.html %}
  {% include _tech/gtm_head.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include _tech/ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include _tech/ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% seo %}


   <!-- Only for calling js in the head rather than the footer for search functionality -->
  {% if layout.ext-head-js %}
    {% for js in layout.ext-head-js %}
      {% include _tech/ext-js.html js=js %}
    {% endfor %}
  {% endif %}

  {% if layout.head-js %}
    {% for js in layout.head-js %}
      {% if js contains 'jquery' %}
        <script>
            if (typeof jQuery == 'undefined') {
                document.write('<script src="{{ js | prepend: site.baseurl | replace: "//", "/" }}"></scr' + 'ipt>');
            }
        </script>
      {% else %}
        <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
      {% endif %}
    {% endfor %}
  {% endif %}

</head>