<header class="header-section header-section-search header-section-search-homepage">
    <div class="intro-header intro-header-search">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div class="search-heading">
                    <h1>{{ include.title-search | markdownify }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div id="search-box">
                <form class="homepage-search-form" action="search.html">
                    <div class="ais-search-box">
                        <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search..." role="textbox" spellcheck="false" type="text" value="" name="fromHomepage" class="ais-search-box--input">
                        <span class="ais-search-box--magnifier-wrapper">
                            <div class="ais-search-box--magnifier">
                              <svg xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40" width="100%" height="100%">
                                <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z" fill-rule="evenodd">
                                </path>
                              </svg>
                            </div>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>



<div class="row" role="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <section class="productgrid" style="display: flex;flex-wrap: wrap;margin-top:5rem;">

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/xtract-is/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractIS.svg" class="img-fluid" alt="XtractIS">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/xtract-is/">Xtract IS</a>
                        <p>{{ site.language[include.lang].homepage-xtract-is }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/xtract-is/for-azure" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractAzure.svg" class="img-fluid" alt="XtractAzure">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/xtract-is/for-azure">Xtract IS for Azure</a>
                        <p>{{ site.language[include.lang].homepage-xtract-is-for-azure }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/xtract-universal/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractUniversal.svg" class="img-fluid" alt="XtractUniversal">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/xtract-universal/">Xtract Universal</a>
                        <p>{{ site.language[include.lang].homepage-xtract-universal }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/xtract-for-alteryx/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractAlteryx.svg" class="img-fluid" alt="XtractAlteryx">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/xtract-for-alteryx/">Xtract for Alteryx</a>
                        <p>{{ site.language[include.lang].homepage-xtract-for-alteryx }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/board-connector/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_Board.svg" class="img-fluid" alt="Board Connector">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/board-connector/">Board Connector</a>
                        <p>{{ site.language[include.lang].homepage-board-connector }} </p>
                    </div>
                </div>

				<div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/yunio/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_YunIO.svg" class="img-fluid" alt="YunIO">
						</a>
						</div>
						<div style="padding:1rem 0 2rem 0;">
						<a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/yunio/">yunIO</a>
                        <p>{{ site.language[include.lang].homepage-yunio }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="/{{ include.lang }}/erpconnect-services/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_ERPConnectServices.svg" class="img-fluid" alt="ERPConnectServices">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="/{{ include.lang }}/erpconnect-services/">ERPConnect Services</a>
                        <p>{{ site.language[include.lang].homepage-erpconnect-services }} </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <a href="https://helpcenter.theobald-software.com/erpconnect/" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_ERPConnect.svg" class="img-fluid" alt="ERPConnect">
                        </a>
                    </div>
                    <div style="padding:1rem 0 2rem 0;">
                        <a class="productgrid-title" style="color:#2c2728;" href="https://helpcenter.theobald-software.com/erpconnect/">ERPConnect</a>
                        <p>{{ site.language[include.lang].homepage-erpconnect }} </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
