<header class="header-section header-section-search header-section-search-homepage">
    <div class="intro-header intro-header-search">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div class="search-heading">
                    <h1>{{ include.title-search | markdownify }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div id="search-box">
                <form class="homepage-search-form" action="search.html">
                    <div class="ais-search-box">
                        <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search..." role="textbox" spellcheck="false" type="text" value="" name="fromHomepage" class="ais-search-box--input">
                        <span class="ais-search-box--magnifier-wrapper">
                            <div class="ais-search-box--magnifier">
                              <svg xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40" width="100%" height="100%">
                                <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z" fill-rule="evenodd">
                                </path>
                              </svg>
                            </div>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="homepage-heading">
                    <h1 class="text-center">{{ include.title | markdownify}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row" role="main">
    <div class="col-md-9 col-md-offset-2">
        <div class="row">
            <section class="productgrid">
                <div class="col-md-1 col-sm-4 col-xs-6 col-md-offset-1 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/erpconnect/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_ERPConnect.svg" class="img-fluid" alt="ERPConnect">
                            </a>
                            <p class="productgrid-title">ERPConnect</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/xtract-is/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_XtractIS.svg" class="img-fluid" alt="XtractIS">
                            </a>
                            <p class="productgrid-title">Xtract IS</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/xtract-is-for-azure/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractAzure.svg" class="img-fluid" alt="XtractAzure">
                        </a>
                        <p class="productgrid-title">Xtract IS for Azure</p>
                    </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/xtract-rs/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_XtractRS.svg" class="img-fluid" alt="XtractRS">
                            </a>
                            <p class="productgrid-title">Xtract RS</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/erpconnect-services/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_ERPConnectServices.svg" class="img-fluid" alt="ERPConnectServices">
                            </a>
                            <p class="productgrid-title">ERPConnect Services</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/ecs-core/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_ECSCore.svg" class="img-fluid" alt="ECSCore">
                            </a>
                            <p class="productgrid-title">ECS Core</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/xtract-universal/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_XtractUniversal.svg" class="img-fluid" alt="XtractUniversal">
                            </a>
                            <p class="productgrid-title">Xtract Universal</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/board-connector/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_Board.svg" class="img-fluid" alt="Board Connector">
                            </a>
                            <p class="productgrid-title">Board Connector</p>
                        </div>
                </div>

                <div class="col-md-1 col-sm-4 col-xs-6 productgrid-item">
                        <div class="productgrid-background">
                            <a href="/{{ include.lang }}/xtract-for-alteryx/" class="productgrid-link" data-toggle="modal">
                                <img src="/img/products/TS_Icon_2C_XtractAlteryx.svg" class="img-fluid" alt="XtractAlteryx">
                            </a>
                            <p class="productgrid-title">Xtract for Alteryx</p>
                        </div>
                </div>
            </section>
        </div>
    </div>
</div>