<header class="header-section">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="homepage-heading">
                        <h1>{{ include.title | markdownify}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" role="main">
    <div class="row">
        <section id="productgrid">
            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/erpconnect/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_ERPConnect.svg" class="img-fluid" alt="ERPConnect">
                        </a>
                        <p class="productgrid-title">ERPConnect</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/xtract-is/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractIS.svg" class="img-fluid" alt="XtractIS">
                        </a>
                        <p class="productgrid-title">Xtract IS</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/xtract-rs/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractRS.svg" class="img-fluid" alt="XtractRS">
                        </a>
                        <p class="productgrid-title">Xtract RS</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/erpconnect-services/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_ERPConnectServices.svg" class="img-fluid" alt="ERPConnectServices">
                        </a>
                        <p class="productgrid-title">ERPConnect Services</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/xtract-universal/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractUniversal.svg" class="img-fluid" alt="XtractUniversal">
                        </a>
                        <p class="productgrid-title">Xtract Universal</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/board-connector/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_Board.svg" class="img-fluid" alt="Board Connector">
                        </a>
                        <p class="productgrid-title">Board Connector</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/xtract-for-alteryz/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_XtractAlteryx.svg" class="img-fluid" alt="XtractAlteryz">
                        </a>
                        <p class="productgrid-title">Xtract for Alteryx</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 productgrid-item">
                <div class="productgrid-border">
                    <div class="productgrid-background">
                        <a href="/{{ include.lang }}/yunio/" class="productgrid-link" data-toggle="modal">
                            <img src="/img/products/TS_Icon_2C_YunIO.svg" class="img-fluid" alt="YunIO">
                        </a>
                        <p class="productgrid-title">YunIO</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>