{% capture current_lang %}{% include _tech/current-lang.html %}{% endcapture %}
{% assign current_lang = current_lang | strip_newlines %}

<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.url }}{{ site.logo }}"/></a>
    </div>
      <div class="collapse navbar-collapse navbar-right" id="main-navbar" style="">
        <div class="row row-eq-height">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="navbar-languages">
              {% for collection in site.collections %}
                {% unless collection.label == "posts" %}
                  {% if collection.label contains current_lang %}
                    <a href="{{site.url}}{{ page.url }}"><span class="flag-icon flag-icon-{{ collection.language_label }}"></span></a>
                  {% else %}
                    {% assign equivalent_doc = collection.docs | where_exp:"doc", "doc.ref == page.ref" %}
                    {% if equivalent_doc[0] %}
                      <a href="{{site.url}}{{ equivalent_doc[0].url }}"><span class="flag-icon flag-icon-{{ collection.language_label }}"></span></a>
                    {% else %}
                      <a href="{{site.url}}/{{ collection.label }}"><span class="flag-icon flag-icon-{{ collection.language_label }}"></span></a>
                    {% endif %}
                  {% endif %}
                {% endunless %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <ul class="nav nav-stacked">
              {% for lang in site.language %}
                {% if lang contains current_lang %}
                  {% for link in lang %}
                    {% for entry in link.navbar-links %}
                      {% if entry.title %}
                        <li>
                          <a href="{{entry.url}}">{{entry.title}}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>