<div class="side-menu-product">
    {% assign product = page.product %}

    {% case product %}

    {% when 'board-connector' %}
    <img src="/img/products/TS_Icon_2C_Board.svg" class="img-fluid side-menu-product-image" alt="Board Connector">
    <p class="side-menu-product-text">Board Connector</p>

    {% when 'erpconnect' %}
    <img src="/img/products/TS_Icon_2C_ERPConnect.svg" class="img-fluid side-menu-product-image" alt="ERPConnect">
    <p class="side-menu-product-text">ERPConnect</p>

    {% when 'erpconnect-services' %}
    <img src="/img/products/TS_Icon_2C_ERPConnectServices.svg" class="img-fluid side-menu-product-image" alt="ERPConnectServices">
    <p class="side-menu-product-text">ERPConnect Services</p>

    {% when 'xtract-for-alteryx' %}
    <img src="/img/products/TS_Icon_2C_XtractAlteryx.svg" class="img-fluid side-menu-product-image" alt="XtractAlteryx">
    <p class="side-menu-product-text">Xtract for Alteryx</p>

    {% when 'xtract-is' %}
    <img src="/img/products/TS_Icon_2C_XtractIS.svg" class="img-fluid side-menu-product-image" alt="XtractIS">
    <p class="side-menu-product-text">Xtract IS</p>
	
	{% when 'xtract-is-for-azure' %}
    <img src="/img/products/TS_Icon_2C_XtractAzure.svg" class="img-fluid side-menu-product-image" alt="XtractAzure">
    <p class="side-menu-product-text">Xtract IS for Azure</p>

    {% when 'xtract-rs' %}
    <img src="/img/products/TS_Icon_2C_XtractRS.svg" class="img-fluid side-menu-product-image" alt="XtractRS">
    <p class="side-menu-product-text">Xtract RS</p>

    {% when 'xtract-universal' %}
    <img src="/img/products/TS_Icon_2C_XtractUniversal.svg" class="img-fluid side-menu-product-image" alt="XtractUniversal">
    <p class="side-menu-product-text">Xtract Universal</p>

    {% when 'yunio' %}
    <img src="/img/products/TS_Icon_2C_YunIO.svg" class="img-fluid side-menu-product-image" alt="yunIO">
    <p class="side-menu-product-text">yunIO</p>
	
	{% when 'ecs-core' %}
    <img src="/img/products/TS_Icon_2C_ECSCore.svg" class="img-fluid side-menu-product-image" alt="ECS Core">
    <p class="side-menu-product-text">ECS Core</p>

    {% else %}

    {% endcase %}
</div>
