{% capture current_lang %}{% include _tech/current-lang.html %}{% endcapture %}
{% assign current_lang = current_lang | strip_newlines %}

{% assign collection = site.collections | where:"label",current_lang %}

{% for lang in site.language %}
	{% if lang contains current_lang %}
		{% for link in lang %}
			{% if link.homepage %}
				{% capture homepage_string %}{{link.homepage}}{% endcapture %}
			{% else %}
				{% capture homepage_string %}Homepage-standard{% endcapture %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

<div class="side-menu">
	<ul class="list-unstyled side-menu-list">
		{% for item in collection %}
			{% for doc in item.docs %}
				{% if doc.childidentifier contains page.parent %}
					<li class="side-menu-list-item side-menu-list-item-parent">
					{% if doc.childidentifier contains 'home' %}
						<a href="{{doc.url | remove: '/index'}}" class="side-menu-list-item-link"><strong>{{homepage_string}}</strong></a>
					{% else %}
						<a href="{{doc.url}}" class="side-menu-list-item-link"><strong>{{doc.title}}</strong></a>
					{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% for item in collection %}
			{% for doc in item.docs %}
				{% if doc.parent contains page.parent %}
					{% if doc.title contains page.title %}
						<li class="side-menu-list-item side-menu-list-item-child side-menu-list-item-current-li">
							<p class="side-menu-list-item-current-text">{{doc.title}}</p>
						</li>
					{% else %}
						<li class="side-menu-list-item side-menu-list-item-child">
							<a href="{{doc.url}}" class="side-menu-list-item-link">{{doc.title}}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
</div>