{% capture current_lang %}{% include _tech/current-lang.html %}{% endcapture %}
{% assign current_lang = current_lang | strip_newlines %}

{% assign collection = site.collections | where:"label",current_lang %}

{% for lang in site.language %}
	{% if lang contains current_lang %}
		{% for link in lang %}
			{% if link.homepage %}
				{% capture homepage_string %}{{link.homepage}}{% endcapture %}
				{% capture navbar_back_to_string %}{{link.navbar-back-to}}{% endcapture %}
			{% else %}
				{% capture homepage_string %}{% endcapture %}
				{% capture navbar_back_to_string %}{% endcapture %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

<div class="side-menu">
	{% include _tech/side-menu-current-product.html %}

	<ul class="side-menu-list" id="accordion">
		{% assign filtered_docs = collection[0].docs | where_exp:"doc", "doc.childidentifier == page.parent" %}
		{% for doc in filtered_docs %}
			<div class="side-menu-list-item-hover">
			{% if doc.childidentifier == 'home' %}
				<li class="side-menu-list-item side-menu-list-item-parent">
					<a href="{{doc.url | remove: '/index'}}" class="side-menu-list-item-link">{{navbar_back_to_string}} <strong>{{homepage_string}}</strong></a>
				</li>
				{% assign show_products_in_menu = false %}
			{% else %}
				{% if doc.product == page.product %}
					<li class="side-menu-list-item side-menu-list-item-parent">
						<a href="{{doc.url}}" class="side-menu-list-item-link">{{navbar_back_to_string}} <strong>{{doc.title}}</strong></a>
					</li>
					{% assign show_products_in_menu = true %}
				{% endif %}
			{% endif %}
			</div>
		{% endfor %}
		<div id="side-menu-list-item-search"></div>

		{% assign filtered_docs = collection[0].docs | where_exp:"doc", "doc.parent == 'home'" | where_exp:"doc", "doc.product == page.product" %}
		{% assign filtered_and_sorted_docs = filtered_docs | sort: 'weight' %}
		{% for doc in filtered_and_sorted_docs %}

			{% if doc.title == page.title %}
				<li class="side-menu-list-item">
					<div class="side-menu-list-item-hover"><a data-toggle="collapse" data-parent="#accordion" href="#currentpage" class="side-menu-dropdown-trigger">
						<p class="side-menu-list-item-current-text"><strong>{{doc.title}}</strong> <b class="caret rotate-180 invisible"></b></p>
					</a></div>
					<ul class="collapse in side-menu-list-collapsible" id="currentpage">
						{% assign filtered_docs = collection[0].docs | where_exp:"doc", "doc.parent == page.childidentifier" | where_exp:"doc", "doc.product == page.product" %}
						{% assign filtered_and_sorted_docs = filtered_docs | sort: 'weight' %}
						{% for doc in filtered_and_sorted_docs %}
						<div class="side-menu-list-item-hover"><li class="side-menu-list-item side-menu-list-item-child">
							<a href="{{doc.url}}" class="side-menu-list-item-link">{{doc.title}}</a>
						</li></div>
						{% endfor %}
					</ul>
				</li>
			{% else %}
				{% if show_products_in_menu == true %}
					<div class="side-menu-list-item-hover"><li class="side-menu-list-item side-menu-list-item-level">
						<a href="{{doc.url}}" class="side-menu-list-item-link">{{doc.title}}</a>
					</li></div>
				{% endif %}
    	{% endif %}
	{% endfor %}
	</ul>
</div>
